<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>MorTeam</title>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:700,300,400" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Exo+2:400,300,200" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<link href="/js/lib/jbox/jBox.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
	<div id="audio-files" style="display: none;">
		<audio id="click-sound">
			<source src="/js/lib/jbox/audio/bling2.wav" type="audio/wav" />
		</audio>
	</div>
	<!-- NAVIGATION BAR -->
	<div class="nav_dropdown">
		<p onclick="location.assign('/index);">Home</p>
		<p onclick="location.assign('/chat');">Chat</p>
		<p onclick="location.assign('/drive');">Drive</p>
		<p onclick="location.assign('/cal');">Calendar</p>
		<p onclick="location.assign('/networks');">Networks</p>
	</div>
	<div class="navigation_bar">
		<ul id="navbar_list">
			<li class="navbar_item navbar_title" onclick="location.assign('/');">
				MorTeam
			</li>
			<li class="navbar_item searchbox_list_item">
				<input type="text" placeholder="search" class="searchbox"></input>
				<div class="search_drop">
					<ul class="search_drop_items">

					</ul>
				</div>
			</li>
			<li class="navbar_item glyph_link chat_btn menu_btn" onclick="location.assign('/chat');">
				<span class="glyphicon glyphicon-comment"></span>
			</li>
			<li class="navbar_item glyph_link drive_btn menu_btn" onclick="location.assign('/drive');">
				<span class="glyphicon glyphicon-hdd"></span>
			</li>
			<li class="navbar_item glyph_link cal_btn menu_btn" onclick="location.assign('/cal');">
				<span class="glyphicon glyphicon-calendar"></span>
			</li>
			<li class="navbar_item glyph_link networks_btn menu_btn" onclick="location.assign('/networks');">
				<span class="glyphicon glyphicon-globe"></span>
			</li>
			<li class="navbar_item glyph_link networks_btn menu_btn" onclick="location.assign('http://www.scout.morteam.com');">
					<span class="glyphicon glyphicon-pencil"></span>
			</li>
			<div class="navbar_item right_links">
				<li class="navbar_item glyph_link menu">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</li>
				<li class="navbar_item glyph_link" id="notif_button">
					<span class="glyphicon glyphicon-inbox"></span>
				</li>
				<img class="profile_id ejs" id="small_prof_pic" src="/images/user.jpg"></img>
				<span class="profile_name" id="name_link"></span>
			</div>
		</ul>
	</div>
	<div id="notif_drop" class="hidden">
		<ul>
			<li class="notif_list_item">hey</li>
			<li class="notif_list_item">hi</li>
			<li class="notif_list_item">ho</li>
			<!-- TODO: can this be deleted... -->
		</ul>
	</div>
	<div id="prof_drop" class="hidden">
		<ul>
			<li class="notif_list_item" id="view_prof_button_ejs">View Profile and Settings</li>
			<li class="notif_list_item" id="logout_button">Log Out</li>
		</ul>
	</div>
	<div id="darken" class="hidden"></div>
	<!-- END OF NAVIGATION BAR -->

	<!-- BODY -->

	<div class="wrapper scope_wrapper">
		<div class="general_info">
			<h1>
				<%= name %>
			</h1>
			<!-- <h3>Date Created: Month Day, Year</h3> -->
			<h4>
				<%= type %> subdivision</h4>
			<div id="join-leave">
				<% if (!joined) { %>
					<input type="button" class="button subdivision_join_btn" value="Join"></input>
				<% } else { %>
					<input type="button" class="button subdivision_leave_btn" value="Leave"></input>
				<% } %>
			</div>
			<div id="subdivision-admin-options">
				<% if (admin) { %>
					<input type="button" class="button subdivision_delete_btn" value="Delete"></input>
				<% } %>
			</div>
		</div>
		<div class="scope_members">
			<ul id="subdivision_members">
				<% if (admin) { %>
					<% if (joined) { %>
						<li class="subdivision_member_add"><span class="glyphicon glyphicon-plus"></span> Invite member(s)</li><br/>
					<% } %>
					<% members.forEach(function(member) { %>
						<% if (member._id != current_user_id) { %>
							<li class="user-link subdivision_member" data-userid="<%= member._id %>" id="<%= member._id %>">
								<img src="<%= member.profpicpath %>-60" onerror="this.src='/images/user.jpg'" class="small_prof_pic show" id="small_prof_pic"><%= member.firstname %> <%= member.lastname %>
							</li>
							<li class="user_remove_btn" data-userid="<%= member._id %>">
								<span class="glyphicon glyphicon-trash"></span>
							</li><br>
						<% } else { %>
							<li class="user-link subdivision_member full-width" data-userid="<%= member._id %>" id="<%= member._id %>">
								<img src="<%= member.profpicpath %>-60" onerror="this.src='/images/user.jpg'" class="small_prof_pic show" id="small_prof_pic"><%= member.firstname %> <%= member.lastname %>
							</li>
							<br>
						<% } %>
					<% }); %>
				<% } else { %>
					<% if (joined) { %>
						<li class="subdivision_member_add"><span class="glyphicon glyphicon-plus"></span> Invite member(s)</li><br/>
					<% } %>
					<% members.forEach(function(member) { %>
						<li class="user-link subdivision_member full-width" data-userid="<%= member._id %>" id="<%= member._id %>">
							<img src="<%= member.profpicpath %>-60" onerror="this.src='/images/user.jpg'" class="small_prof_pic show" id="small_prof_pic"><%= member.firstname %> <%= member.lastname %>
						</li>
						<br>
					<% }); %>
				<% } %>
			</ul>
		</div>
	</div>
	<!-- END OF BODY -->


	<script src="/js/lib/jbox/jBox.min.js"></script>
	<script type="text/javascript" src="/js/lib/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/lib/velocity.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/subdivision.js"></script>

	<script>
	(function(i,s,o,g,r,a,m) {i['GoogleAnalyticsObject']=r;i[r]=i[r]||function() {
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-67504156-1', 'auto');
	ga('send', 'pageview');

	</script>


</body>

</html>
