<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>MorTeam</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Exo+2:400,300,200' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<link href="../jbox/jBox.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>

<body>
	<div id="audio-files" style="display: none;">
		<audio id="click-sound">
			<source src="../jbox/audio/bling2.wav" type="audio/wav" />
		</audio>
	</div>
	<!-- NAVIGATION BAR -->
	<div class="nav_dropdown">
		<p onclick="location='/index'">Home</p>
		<p onclick="location='/chat'">Chat</p>
		<p onclick="location='/drive'">Drive</p>
		<p onclick="location='/cal'">Calendar</p>
		<p onclick="location='/networks'">Networks</p>
	</div>
	<div class="navigation_bar">
		<ul id="navbar_list">
			<li class="navbar_item navbar_title" onclick="location='/'">
				MorTeam
			</li>
			<li class="navbar_item searchbox_list_item">
				<input type="text" placeholder="search" class="searchbox"></input>
				<div class="search_drop">
					<ul class="search_drop_items">

					</ul>
				</div>
			</li>
			<li class="navbar_item glyph_link chat_btn menu_btn" onclick="location='/chat'">
				<span class="glyphicon glyphicon-comment"></span>
			</li>
			<li class="navbar_item glyph_link drive_btn menu_btn" onclick="location='/drive'">
				<span class="glyphicon glyphicon-hdd"></span>
			</li>
			<li class="navbar_item glyph_link cal_btn menu_btn" onclick="location='/cal'">
				<span class="glyphicon glyphicon-calendar"></span>
			</li>
			<li class="navbar_item glyph_link networks_btn menu_btn" onclick="location='/networks'">
				<span class="glyphicon glyphicon-globe"></span>
			</li>
			<li class="navbar_item glyph_link networks_btn menu_btn" onclick="location='http://www.scout.morteam.com'">
					<span class="glyphicon glyphicon-pencil"></span>
			</li>
			<div class="navbar_item right_links">
				<li class="navbar_item glyph_link menu">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</li>
				<li class="navbar_item glyph_link" id="notif_button">
					<span class="glyphicon glyphicon-inbox"></span>
				</li>
				<img class="profile_id ejs" id="small_prof_pic" src="/images/user.jpg"></img>
				<span class="profile_name" id="name_link"></span>
			</div>
		</ul>
	</div>
	<div id="notif_drop" class="hidden">
		<ul>
			<li class="notif_list_item">hey</li>
			<li class="notif_list_item">hi</li>
			<li class="notif_list_item">ho</li>
			<!-- TODO: can this be deleted... -->
		</ul>
	</div>
	<div id="prof_drop" class="hidden">
		<ul>
			<li class="notif_list_item" id="view_prof_button_ejs">View Profile and Settings</li>
			<li class="notif_list_item" id="logout_button">Log Out</li>
		</ul>
	</div>
	<div id="darken" class="hidden"></div>
	<!-- END OF NAVIGATION BAR -->

	<!-- BODY -->

	<div class="wrapper scope_wrapper">
		<div class="general_info">
			<h1>
				<%= name %>
			</h1>
			<!-- <h3>Date Created: Month Day, Year</h3> -->
			<h4>
				<%= type %> subdivision</h4>
			<div id="join-leave">
				<% if (!joined) { %>
					<input type="button" class="button subdivision_join_btn" value="Join"></input>
				<% }else{ %>
					<input type="button" class="button subdivision_leave_btn" value="Leave"></input>
				<% } %>
			</div>
			<div id="subdivision-admin-options">
				<% if (admin) { %>
					<input type="button" class="button subdivision_delete_btn" value="Delete"></input>
				<% } %>
			</div>
		</div>
		<div class="scope_members">
			<ul id="subdivision_members">
				<% if(admin) { %>
					<% if(joined) { %>
						<li class="subdivision_member_add"><span class="glyphicon glyphicon-plus"></span> Invite member(s)</li><br/>
					<% } %>
					<% members.forEach(function(member) { %>
						<% if(member._id != current_user_id){ %>
							<li class="user-link subdivision_member" data-userid="<%= member._id %>" id="<%= member._id %>">
								<img src="<%= member.profpicpath %>-60" onerror="this.src='/images/user.jpg'" class="small_prof_pic show" id="small_prof_pic"><%= member.firstname %> <%= member.lastname %>
							</li>
							<li class="user_remove_btn" data-userid="<%= member._id %>">
								<span class="glyphicon glyphicon-trash"></span>
							</li><br>
						<% } else { %>
							<li class="user-link subdivision_member full-width" data-userid="<%= member._id %>" id="<%= member._id %>">
								<img src="<%= member.profpicpath %>-60" onerror="this.src='/images/user.jpg'" class="small_prof_pic show" id="small_prof_pic"><%= member.firstname %> <%= member.lastname %>
							</li>
							<br>
						<% } %>
					<% }); %>
				<% }else{ %>
					<% if(joined) { %>
						<li class="subdivision_member_add"><span class="glyphicon glyphicon-plus"></span> Invite member(s)</li><br/>
					<% } %>
					<% members.forEach(function(member) { %>
						<li class="user-link subdivision_member full-width" data-userid="<%= member._id %>" id="<%= member._id %>">
							<img src="<%= member.profpicpath %>-60" onerror="this.src='/images/user.jpg'" class="small_prof_pic show" id="small_prof_pic"><%= member.firstname %> <%= member.lastname %>
						</li>
						<br>
					<% }); %>
				<% } %>
			</ul>
		</div>
	</div>
	<!-- END OF BODY -->


	<script src="/jbox/jBox.min.js"></script>
	<script type="text/javascript" src="/js/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/velocity.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript">
		var socket = io();

		function messageNotification(title, content, chatid) {
			var newMessageNotice = new jBox('Notice', {
				attributes: {
					x: 'right',
					y: 'bottom'
				},
				theme: 'NoticeBorder',
				volume: 100,
				animation: {
					open: 'slide:bottom',
						close: 'slide:right'
				},
				content: content,
				maxWidth: 300,
				maxHeight: 105,
				title: title,
				closeOnClick: false,
				onOpen: function() {
					// $($(this)[0].content).attr("data-author", author._id);
					$($(this)[0].content).attr("data-chatid", chatid);
				}
			});
		};
		function addMembersToSubdivisionModal(title){
			var new_modal = new jBox('Modal', {
				width: 350,
				height: 373,
				title: title,
				onClose: function(){
					setTimeout(function(){
						add_members_modal.destroy();  //keyword "this" does not work. make sure to name the modal "add_members_modal".
					}, 100)
				}
			});
			$.post("/f/getUsersInTeam", function(responseText){
				var span = document.createElement("span");
				var user_search = '<input type="text" placeholder="Search Names..." class="members_search" id="subdivision_members_search">';
				var potential_members = document.createElement("div");
				$(potential_members).attr("id", "potential_subdivision_members");
				$(potential_members).addClass("potential_members");
				$(potential_members).addClass("tall");
				var add_btn = '<input type="button" id="add_to_subdivision_btn" class="button done_button" value="Invite">'
				var users = JSON.parse(responseText);
				for(var i = 0; i < users.length; i++){
					var user = document.createElement("p");
					$(user).addClass("potential_member");
					$(user).attr("data-userid", users[i]._id);
					$(user).html(users[i].firstname + " " + users[i].lastname);
					$(potential_members).append(user);
				}
				$(span).append($(user_search));
				$(span).append("<br/>");
				$(span).append($(potential_members));
				$(span).append("<br/>");
				$(span).append($(add_btn));
				new_modal.setContent( $(span) );
				new_modal.open();
			})
			return new_modal;
		}

		$(document).ready(function() {
			if( localStorage.profpicpath == "images/user.jpg" ){
				$(".profile_id.ejs").attr("src", "../"+localStorage.profpicpath + "-60");
			}else{
				$(".profile_id.ejs").attr("src", localStorage.profpicpath + "-60");
			}

			$(document).on("click", ".subdivision_join_btn", function() {
				$.post("/f/joinPublicSubdivision", {
					subdivision_id: window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1),
					team_id: localStorage.c_team
				}, function(responseText) {
					if (responseText == "success") {
						$(".subdivision_join_btn").remove();
						$("#join-leave").append('<input type="button" class="button subdivision_leave_btn" value="Leave"></input>');
						$("#subdivision_members").append('<li class="user-link subdivision_member full-width" data-userid="' + localStorage._id + '" id="' + localStorage._id + '"><img src='+localStorage.profpicpath+' onerror="this.src=\'../images/user.jpg\'" class="small_prof_pic show" id="small_prof_pic">' + localStorage.firstname + ' ' +
							localStorage.lastname + '</li>');
					} else {
						alert("fail");
					}
				});
			});
			$(document).on("click", ".subdivision_leave_btn", function() {
				if (window.confirm("Are you sure?")) {
					$.post("/f/leaveSubdivision", {
						subdivision_id: window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1),
						team_id: localStorage.c_team
					}, function(responseText) {
						if (responseText == "success") {
							$(".subdivision_leave_btn").remove();
							$("#join-leave").append('<input type="button" class="button subdivision_join_btn" value="Join"></input>');
							$("#subdivision_members").find("#" + localStorage._id).next().remove();
							$("#subdivision_members").find("#" + localStorage._id).remove();
						} else {
							alert("fail");
						}
					});
				}
			});
			$(document).on("click", ".subdivision_delete_btn", function() {
				if (window.confirm("Are you sure?")) {
					$.post("/f/deleteSubdivision", {
						team_id: localStorage.c_team,
						subdivision_id: window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1)
					}, function(responseText) {
						if(responseText == "success"){
							location="/";
						}else{
							alert(responseText);
						}
					});
				}
			});
			$(document).on("click", ".user_remove_btn", function(){
				if (window.confirm("Are you sure?")) {
					var $this = $(this);
					$.post("/f/removeUserFromSubdivision", {user_id: $this.attr("data-userid"), subdivision_id: window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1)}, function(responseText){
						if(responseText == "success"){
							$("#subdivision_members").find("#" + $this.attr("data-userid")).next().remove();
							$("#subdivision_members").find("#" + $this.attr("data-userid")).next().remove();
							$("#subdivision_members").find("#" + $this.attr("data-userid")).remove();
						}else{
							alert(responseText);
						}
					});
				}
			});

			//general modal stuff
			$(document).on("click", ".potential_member", function(){
				if($(this).hasClass("clicked")){
					$(this).removeClass("clicked");
				}else{
					$(this).addClass("clicked");
				}
			});
			$(document).on("keyup", '.members_search', function() {
				var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
				$('.potential_members p').show().filter(function() {
						var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
						console.log(!~text.indexOf(val));
						return !~text.indexOf(val);
				}).hide();
			});

			//add member modal
			$(document).on("click", ".subdivision_member_add", function(){
				add_members_modal = addMembersToSubdivisionModal("Invite members");
			});
			$(document).on("click", "#add_to_subdivision_btn", function(){
				var p_selected_users = $("p.clicked");
				var selectedUsers = [];
				for (var i = 0; i < p_selected_users.length; i++) {
					selectedUsers.push($(p_selected_users[i]).attr("data-userid"));
				}
				for(var i=0; i<selectedUsers.length; i++){
					$.post("/f/inviteToSubdivision", {
						user_id: selectedUsers[i],
						subdivision_id: window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1)
					}, function(responseText){
						if(responseText == "success"){
							//
						}else if(responseText == "already invited"){
							console.log(responseText);
						}else{
							alert(responseText)
						}
					});
				}
				add_members_modal.close();

			});

			socket.on('message', function(msg){
				if(msg.type == "group"){
					messageNotification(msg.author_fn+" "+msg.author_ln+" in "+msg.chat_name, msg.content, msg.chat_id);
				}else{
					messageNotification(msg.author_fn+" "+msg.author_ln, msg.content, msg.chat_id);
				}
				$('#audio-files').find('audio#click-sound')[0].play();
				$('#audio-files').find('audio#click-sound')[0].currentTime = 0;
			})

		});
		window.onunload = function() {};
	</script>

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-67504156-1', 'auto');
	ga('send', 'pageview');

	</script>


</body>

</html>
