<!DOCTYPE html>
<html lang="en">

  <head>
  	<meta charset="utf-8" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>MorTeam</title>
  	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,400' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Exo+2:400,300,200' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link href="../jbox/jBox.css" rel="stylesheet">
    <link href="../jbox/themes/TooltipDark.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

  </head>
  <body>
      <div id="audio-files" style="display: none;">
          <audio id="click-sound">
              <source src="../jbox/audio/bling2.wav" type="audio/wav" />
          </audio>
      </div>
    <!-- NAVIGATION BAR -->
    <div class="nav_dropdown">
      <p onclick="location='../index'">Home</p>
      <p onclick="location='../chat'">Chat</p>
      <p onclick="location='../drive'">Drive</p>
      <p onclick="location='../cal'">Calendar</p>
      <p onclick="location='../networks'">Networks</p>
    </div>
    <div class="navigation_bar">
        <ul id="navbar_list">
          <li class="navbar_item navbar_title" onclick="location='../index'">
              MorTeam
          </li>
          <li class="navbar_item searchbox_list_item">
              <input type="text" placeholder="search" class="searchbox"></input>
              <div class="search_drop">
                <ul class="search_drop_items">

                </ul>
              </div>
          </li>
          <li class="navbar_item glyph_link chat_btn menu_btn" onclick="location='../chat'">
              <span class="glyphicon glyphicon-comment"></span>
          </li>
          <li class="navbar_item glyph_link drive_btn menu_btn" onclick="location='../drive'">
              <span class="glyphicon glyphicon-hdd"></span>
          </li>
          <li class="navbar_item glyph_link cal_btn menu_btn" onclick="location='../cal'">
              <span class="glyphicon glyphicon-calendar"></span>
          </li>
          <li class="navbar_item glyph_link networks_btn menu_btn" onclick="location='../networks'">
              <span class="glyphicon glyphicon-globe"></span>
          </li>
          <li class="navbar_item glyph_link networks_btn menu_btn" onclick="location='http://www.scout.morteam.com'">
              <span class="glyphicon glyphicon-pencil"></span>
          </li>
          <div class="navbar_item right_links">
            <li class="navbar_item glyph_link menu">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </li>
            <li class="navbar_item glyph_link" id="notif_button">
                <span class="glyphicon glyphicon-inbox"></span>
            </li>
            <img class="profile_id ejs" id="small_prof_pic"></img>
            <span class="profile_name" id="name_link"></span>
          </div>
        </ul>
    </div>
    <div id="notif_drop" class="hidden">
      <ul>
        <li class="notif_list_item">hey</li>
        <li class="notif_list_item">hi</li>
        <li class="notif_list_item">ho</li>
      </ul>
    </div>
    <div id="prof_drop" class="hidden">
      <ul>
        <li class="notif_list_item" id="view_prof_button_ejs">View Profile and Settings</li>
        <li class="notif_list_item" id="logout_button">Log Out</li>
      </ul>
    </div>
    <div id="darken" class="hidden"></div>
    <!-- END OF NAVIGATION BAR -->

    <!-- BODY -->
    <div class="wrapper container-fluid"> <!-- class="profother_wrapper" also -->
      <!-- <div class="user_actions">
        <div class="user_action_btns">
          <input type="button" value="Message" class="message_user user_action button"></input>
          <input type="button" value="Assign Task" class="assign_task_user user_action button"></input>
          <input type="button" value="Change Position" class="change_position_user user_action button"></input>
          <input type="button" value="View Attendance" class="view_attendance_user user_action button"></input>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-6">
          <div class="attendance_data">
            <span class="data_title bold">Attendance</span><br/>
            <span class="data_point">From:</span>
            <span id="absences_from" class="data_answer">
              <select id="absences_from_month">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
              <select id="absences_from_day"></select>
              <select id="absences_from_year"></select>
            </span><br>
            <span class="data_point">To:</span>
            <span id="absences_to" class="data_answer">
              <select id="absences_to_month">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
              <select id="absences_to_day"></select>
              <select id="absences_to_year"></select>
            </span>
            <input id="refresh_attendance" type="button" class="button" value="Refresh Attendance" /><br>
            <span class="data_point">Unexcused absences:</span><span id="absences_num" class="data_answer"></span><br/>
            <span class="data_point">Presence percentage:</span><span id="presence_percent" class="data_answer"></span><br/>
            <hr class="hr_small_margin">
            <span class="data_point">Dates of unexcused absences:</span><br/>
            <div class="absences_list_scroll">
              <ul class="data_list absences_list">

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tasks_data">
            <span class="data_title bold">Pending Tasks</span>
            <ul class="task_list pending">

            </ul>
            <hr class="hr_small_margin">
            <span class="data_title bold">Completed Tasks</span>
            <ul class="task_list completed">

            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF BODY -->

    <!-- LEFTBAR -->
    <div class="leftbar">
      <% if (profpicpath != "images/user.jpg") { %>
        <img class="profile_pic" src="<%= profpicpath %>-300"></img>
      <% }else{ %>
        <img class="profile_pic" src="../images/user.jpg"></img>
      <% } %>
      <div class="leftbar_item bold" id="leftbar_name"><%= firstname %> <%= lastname %></div>
      <!-- <div class="leftbar_item" id="leftbar_title">Vice President of Programming</div> -->
      <div class="leftbar_item"><span id="leftbar_email"><%= email %></span></div>
      <div class="leftbar_item"><span id="leftbar_phone"><%= phone %></span></div>
      <div class="leftbar_item"><input id="show_morscout_profile" type="button" class="button leftbar_btn" value="View MorScout Profile"></input></div>
      <div class="others_only">
      <% if(viewerUserId.toString() == _id.toString()){ %>
        <div class="leftbar_item"><input id="edit_profile" type="button" class="button leftbar_btn" value="Edit Profile"></input></div>
        <div class="leftbar_item"><input id="change_password" type="button" class="button leftbar_btn" value="Change Password"></input></div>
        <!-- <div class="leftbar_item"><input id="message_user" type="button" class="button leader_action" value="Message"></input></div> -->
      <% }else if (viewerUserPosition == "admin" || viewerUserPosition == "leader"){ %>
        <div class="leftbar_item"><input id="assign_task" type="button" class="button leader_action" value="Assign Task"></input></div>
      <% } %>
      </div>
      <!-- <div class="leftbar_item"><input id="change_position" type="button" class="button leader_action" value="Change Position"></input></div> -->
      <div class="change_position_div">
        <div data-userid="<%= _id %>" class=" change_position_dropdown_btn btn-group">
            <button class="button dropdown-toggle change_position" data-toggle="dropdown"><span class="position_selection"><%= viewedUserPosition.capitalize() %></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu position_drop">
                <% if(viewerUserPosition == "admin"){ %>
                  <li id="position_member" class="position_item">Member</li>
                  <li id="position_leader" class="position_item">Leader</li>
                  <li id="position_admin" class="position_item">Admin</li>
                <% } else if(viewerUserPosition == "leader"){ %>
                  <% if(viewedUserPosition == "admin"){ %>
                    <script type="text/javascript">$(".caret").hide(); $(".change_position").addClass("disabled");</script>
                  <% }else{ %>
                    <li id="position_member" class="position_item">Member</li>
                    <li id="position_leader" class="position_item">Leader</li>
                  <% } %>
                <% } else if(viewerUserPosition == "member"){ %>
                  <script type="text/javascript">$(".caret").hide(); $(".change_position").addClass("disabled");</script>
                <% } %>
                <% if(viewedUserPosition == "member"){ %>
                  <script type="text/javascript">$(".position_item:contains('Member')").addClass("selected")</script>
                <% }else if(viewedUserPosition == "leader") { %>
                  <script type="text/javascript">$(".position_item:contains('Leader')").addClass("selected")</script>
                <% }else if(viewedUserPosition == "admin") { %>
                  <script type="text/javascript">$(".position_item:contains('Admin')").addClass("selected")</script>
                <% } %>

            </ul>
        </div>
      </div>
    </div>
    <!-- END OF LEFTBAR -->

    <% String.prototype.capitalize = function() { %>
      <% return this.charAt(0).toUpperCase() + this.slice(1); %>
    <% } %>
    <script type="text/javascript" src="../js/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="../js/jquery.form.js"></script>
    <script src="../jbox/jBox.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/velocity.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script>
      var socket = io();

      String.prototype.capitalize = function() {
        return this.charAt(0).toUpperCase() + this.slice(1);
      }
      function validateEmail(email) {
        var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
        return re.test(email);
      }
      function validatePhone(phone){
        return phone.match(/\d/g).length===10;
      }

      function messageNotification(title, content, chatid) {
        var newMessageNotice = new jBox('Notice', {
            attributes: {
                x: 'right',
                y: 'bottom'
            },
            theme: 'NoticeBorder',
            volume: 100,
            animation: {
                open: 'slide:bottom',
                close: 'slide:right'
            },
            content: content,
            maxWidth: 300,
            maxHeight: 105,
            title: title,
            closeOnClick: false,
            onOpen: function() {
                // $($(this)[0].content).attr("data-author", author._id);
                $($(this)[0].content).attr("data-chatid", chatid);
            }
        });
      };
      var months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
      function readableDate(datestr){
        var date = new Date(datestr);
        return months[date.getMonth()] + " " + date.getDate() + ", " + date.getFullYear();
      }
      function findTeamInTeamArray(teams, teamId){
        for(var i = 0; i < teams.length; i++){
          if(teams[i].id == teamId){
            return team;
          }
        }
      }
      function assignTaskModal(title){
        var new_modal = new jBox('Modal', {
          width: 350,
          height: 'auto',
          title: title,
          onClose: function(){
            setTimeout(function(){
              task_modal.destroy();
            }, 100)
          }
        })
        new_modal.setContent('<input type="text" class="task_name" placeholder="Title"></input><br/><textarea class="task_description" placeholder="Short Description (Optional)"></textarea><br/>Due: <select class="task_month"><option value="1">January</option><option value="2">February</option><option value="3">March</option><option value="4">April</option><option value="5">May</option><option value="6">June</option><option value="7">July</option><option value="8">August</option><option value="9">September</option><option value="10">October</option><option value="11">November</option><option value="12">December</option></select><select class="task_day"></select><select class="task_year"></select><br/><input type="button" class="button submit_task" value="Submit"></input>');

        var thisYear = new Date().getFullYear();
        var thisMonth = new Date().getMonth()+1;
        var thisDay = new Date().getDate();

        $('.task_month option[value="'+thisMonth+'"]').prop('selected',true); //selects current month


        for(var j = thisYear ; j < thisYear+5 ; j++){
          $(".task_year").append("<option value='"+j+"'>"+j+"</option>"); //adds next 5 years
        }

        for(var k = 1 ; k <= new Date($(".task_year").find(":selected").text(), thisMonth, 0).getDate() ; k++ ){
          $(".task_day").append("<option value='"+k+"'>"+k+"</option>")
          if(k == new Date($(".task_year").find(":selected").text(), $('.task_month option[value="'+thisMonth+'"]').val(), 0).getDate()){
            $(".task_day option[value='"+(parseInt(thisDay)+1).toString()+"']").prop("selected", true);
          }
        }


        $(".task_month").change(function(){
          $(".task_day").empty();
          for(var k = 1 ; k <= new Date($(".task_year").find(":selected").text(), $(".task_month").find(":selected").val(), 0).getDate() ; k++ ){
            $(".task_day").append("<option value='"+k+"'>"+k+"</option>")
          }
        });
        $(".task_year").change(function(){
          $(".task_day").empty();
          for(var i = 1 ; i <= new Date($(this).find(":selected").text(), $(".task_month").find(":selected").val(), 0).getDate() ; i++){
            $(".task_day").append("<option value='"+i+"'>"+i+"</option>");
          }
        })
        new_modal.open();
        return new_modal

      }
      function changePasswordModal(title){
        var new_modal = new jBox('Modal', {
            width: 350,
            height: 'auto',
            title: 'Change Password',
            onClose: function(){
              setTimeout(function(){
                change_password_modal.destroy();
              },100);
            }
        });
        new_modal.setContent('<input type="password" placeholder="Old password" class="old_password modal_textbox"></input><br/><input type="password" placeholder="New Password" class="new_password modal_textbox"></input><br/><input type="password" placeholder="Confirm New Password" class="new_password_confirm modal_textbox"></input><br/><input type="button" class="button modal_button save_password" value="Save"></input>');
        new_modal.open();
        return new_modal;
      }
      function editProfileModal(title){
        var new_modal = new jBox('Modal', {
            width: 350,
            height: 'auto',
            title: title,
            onClose: function() {
              setTimeout(function(){
                edit_profile_modal.destroy();
              }, 100)
            }
        });
        new_modal.setContent('<form action="/f/editProfile" enctype="multipart/form-data" method="post" id="edit_profile_form"><input type="text" name="firstname" class="edit_firstname modal_textbox"></input><br/><input type="text" name="lastname" class="edit_lastname modal_textbox"></input><br/><input type="text" name="email" class="edit_email modal_textbox"></input><br/><input type="text" name="phone" class="edit_phone modal_textbox"></input><br/><input type="text" name="parentEmail" placeholder="Parent Email" class="edit_parent_email modal_textbox"></input><br/><input name="new_prof_pic" type="file" id="new_prof_pic" class="hidden" accept="image/*" /><input type="button" class="button edit_prof_pic modal_button" value="Change Profile Picture"></input><br/><input type="submit" class="button modal_button save_prof" value="Save"></input></form>')

        $.post("/f/getSelf", function(responseText){
          var self = JSON.parse(responseText);
          $(".modal_textbox").val("");
          $(".edit_firstname").val(self.firstname)
          $(".edit_lastname").val(self.lastname)
          $(".edit_email").val(self.email)
          $(".edit_phone").val(self.phone)
          $(".edit_parent_email").val(self.parentEmail)
          new_modal.open();
        })
        return new_modal;

      }

      function displayAbsences(responseText) {
        var data = JSON.parse(responseText);
        var absences = data.absences;
        var present = data.present;
        for(var i = 0; i < absences.length; i++){
          $(".absences_list").append('<li class="absence_date">'+ absences[i].name + ' (' + readableDate(absences[i].date) + ')' + '</li>')
          if(localStorage.c_team_position == "leader" || localStorage.c_team_position == "admin"){
            $(".absences_list").append('<input type="button" data-eventid="'+absences[i]._id+'" class="button excuse_btn" value="Excuse" style="float: right;" /><br/>');
          }else{
            $(".absences_list").append("<br/>");
          }
        }

        $("#absences_num").html(absences.length);
        if( !isNaN(100*present/(absences.length+present)) ){
          $("#presence_percent").html( Math.round(100*present/(absences.length+present)) + "%" );
        }else{
          $("#presence_percent").html( "N/A" );
        }
      }

      function clearAbsencesDisplay() {
        $(".absences_list").empty();
        $("#absences_num").html("");
        $("#presence_percent").html("");
      }

      $(document).ready(function(){

        var userCreatedDate = new Date("<%= created_at %>")

        var thisYear = new Date().getFullYear();
        var thisMonth = new Date().getMonth()+1;
        var thisDay = new Date().getDate();

        var createdYear = userCreatedDate.getFullYear();
        var createdMonth = userCreatedDate.getMonth()+1;
        var createdDay = userCreatedDate.getDate();

        $('#absences_from_month option[value="'+createdMonth+'"]').prop('selected',true);
        $('#absences_to_month option[value="'+thisMonth+'"]').prop('selected',true);

        for(var i = userCreatedDate.getFullYear() ; i <= thisYear ; i++){
          $("#absences_from_year").append("<option value='"+i+"'>"+i+"</option>");
          $("#absences_to_year").append("<option value='"+i+"'>"+i+"</option>");
        }

        for(var i = 1 ; i <= new Date($("#absences_from_year").find(":selected").text(), createdMonth, 0).getDate() ; i++ ){
          $("#absences_from_day").append("<option value='"+i+"'>"+i+"</option>")
          if(i == new Date($("#absences_from_year").find(":selected").text(), createdMonth, 0).getDate()){
            $("#absences_from_day option[value='"+createdDay+"']").prop("selected", true);
          }
        }

        for(var i = 1 ; i <= new Date($("#absences_to_year").find(":selected").text(), thisMonth, 0).getDate() ; i++ ){
          $("#absences_to_day").append("<option value='"+i+"'>"+i+"</option>")
          if(i == new Date($("#absences_to_year").find(":selected").text(), thisMonth, 0).getDate()){
            $("#absences_to_day option[value='"+thisDay+"']").prop("selected", true);
          }
        }

        $("#absences_from_month").change(function(){
          $("#absences_from_day").empty();
          for(var i = 1 ; i <= new Date($("#absences_from_year").find(":selected").text(), $("#absences_from_month").find(":selected").val(), 0).getDate() ; i++ ){
            $("#absences_from_day").append("<option value='"+i+"'>"+i+"</option>")
          }
        });
        $("#absences_from_year").change(function(){
          $("#absences_from_day").empty();
          for(var i = 1 ; i <= new Date($(this).find(":selected").text(), $("#absences_from_month").find(":selected").val(), 0).getDate() ; i++){
            $("#absences_from_day").append("<option value='"+i+"'>"+i+"</option>");
          }
        })

        $("#absences_to_month").change(function(){
          $("#absences_to_day").empty();
          for(var i = 1 ; i <= new Date($("#absences_to_year").find(":selected").text(), $("#absences_to_month").find(":selected").val(), 0).getDate() ; i++ ){
            $("#absences_to_day").append("<option value='"+i+"'>"+i+"</option>")
          }
        });
        $("#absences_to_year").change(function(){
          $("#absences_to_day").empty();
          for(var i = 1 ; i <= new Date($(this).find(":selected").text(), $("#absences_to_month").find(":selected").val(), 0).getDate() ; i++){
            $("#absences_to_day").append("<option value='"+i+"'>"+i+"</option>");
          }
        })

        $.post("/f/getUserAbsences", {user_id: window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1)}, function(responseText){
          clearAbsencesDisplay();
          displayAbsences(responseText);
        })
        $.post("/f/getCompletedUserTasks", {user_id: window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1)}, function(responseText){
          if(responseText != "fail"){
            var tasks = JSON.parse(responseText);
            if(tasks.length > 0){
              for (var i = 0; i < tasks.length; i++) {
                var li = document.createElement("li");
                $(li).addClass("data_point");
                // $(li).html( tasks[i].name + " (By " + readableDate(tasks[i].due_date) + ")");
                $(li).html( tasks[i].name + " <span class='due_date_display'>(By " + readableDate(tasks[i].due_date) + ")</span> <span style='vertical-align: -5%; font-size: 14px' title='Assigned By "+ tasks[i].creator.firstname + " " + tasks[i].creator.lastname +"' class='assigned_by glyphicon glyphicon-info-sign'></span>");
                var div = document.createElement("div");
                $(div).addClass("indented");
                $(div).html(tasks[i].description);
                $(li).append("<br/>");
                $(li).append( $(div) );
                $(".task_list.completed").append( $(li) );
              }
            }else{
              $(".task_list.completed").append( "<li class='data_point'>none</li>" );
            }
            $('.assigned_by').jBox('Tooltip', {
                delayOpen: 0,
                delayClose: 0,
                theme: "TooltipDark"
            });
          }else{
            alert(responseText);
          }
        })
        $.post("/f/getPendingUserTasks", {user_id: window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1)}, function(responseText){
          if(responseText != "fail"){
            var tasks = JSON.parse(responseText);
            if(tasks.length > 0){
              for (var i = 0; i < tasks.length; i++) {
                var li = document.createElement("li");
                $(li).addClass("data_point");
                // $(li).html( tasks[i].name + " (By " + readableDate(tasks[i].due_date) + ")");
                $(li).html( tasks[i].name + " <span class='due_date_display'>(By " + readableDate(tasks[i].due_date) + ")</span> <span style='vertical-align: -5%; font-size: 14px' title='Assigned By "+ tasks[i].creator.firstname + " " + tasks[i].creator.lastname +"' class='assigned_by glyphicon glyphicon-info-sign'></span>");
                var div = document.createElement("div");
                $(div).addClass("indented");
                $(div).html(tasks[i].description);
                $(li).append("<br/>");
                $(li).append( $(div) );
                if(localStorage._id == tasks[i].for || localStorage.c_team_position == "admin" || localStorage.c_team_position == "leader"){
                  var mark_as_completed = document.createElement("input");
                  $(mark_as_completed).attr("type", "button");
                  $(mark_as_completed).attr("data-taskid", tasks[i]._id);
                  $(mark_as_completed).attr("value", "Mark as Completed");
                  $(mark_as_completed).addClass("task_complete");
                  $(mark_as_completed).addClass("button");
                  $(li).append( $(mark_as_completed) );
                }
                $(".task_list.pending").append( $(li) );
              }
            }else{
              $(".task_list.pending").append( "<li class='data_point'>none</li>" );
            }
            $('.assigned_by').jBox('Tooltip', {
                delayOpen: 0,
                delayClose: 0,
                theme: "TooltipDark"
            });
          }else{
            alert(responseText);
          }
        })
        if( localStorage.profpicpath == "images/user.jpg" ){
          $(".profile_id.ejs").attr("src", "../"+localStorage.profpicpath + "-60");
        }else{
          $(".profile_id.ejs").attr("src", localStorage.profpicpath + "-60");
        }

        $(document).on("click", "#refresh_attendance", function(){
          // console.log(new Date( $( "#absences_from_year option:selected" ).text(), $( "#absences_from_month option:selected" ).val()-1, $( "#absences_from_day option:selected" ).text()))
          // console.log(new Date( $( "#absences_to_year option:selected" ).text(), $( "#absences_to_month option:selected" ).val()-1, $( "#absences_to_day option:selected" ).text()))
          // console.log(window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1))
          $.post("/f/getUserAbsencesBetweenDates", {
            startDate: new Date( $( "#absences_from_year option:selected" ).text(), $( "#absences_from_month option:selected" ).val()-1, $( "#absences_from_day option:selected" ).text()),
            endDate: new Date( $( "#absences_to_year option:selected" ).text(), $( "#absences_to_month option:selected" ).val()-1, $( "#absences_to_day option:selected" ).text()),
            userId: window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1)
          }, function(responseText){
            clearAbsencesDisplay()
            displayAbsences(responseText);
          })
        })

        $(document).on("click", "#change_password", function(){
          change_password_modal = changePasswordModal("Change Password");
        })
        $(document).on("click", ".save_password", function(){
          if($(".new_password").val() == $(".new_password_confirm").val()){
            $.post("/f/changePassword", {
              old_password: $(".old_password").val(),
              new_password: $(".new_password").val(),
              new_password_confirm: $(".new_password_confirm").val()
            }, function(responseText){
              if(responseText == "success"){
                alert("Successfully changed password");
                change_password_modal.close();
              }else{
                alert(responseText);
              }
            });
          }else{
            alert("New passwords do not match");
          }
        });
        $(document).on("click", ".edit_prof_pic", function(){
          $("#new_prof_pic").trigger("click");
        })
        $(document).on("click", "#edit_profile", function(){
          edit_profile_modal = editProfileModal("Edit Profile");
        });
        $(document).on("submit", "#edit_profile_form", function(e){
          e.preventDefault();
          if(validateEmail( $(".edit_email").val() )){
            if(validatePhone( $(".edit_phone").val() )){
              $(".edit_firstname").val( $(".edit_firstname").val().replace(/[^\w\s]/gi, '').capitalize() )
              $(".edit_lastname").val( $(".edit_lastname").val().replace(/[^\w\s]/gi, '').capitalize() )
              $(this).ajaxSubmit({
                  error: function(xhr) {
                		alert(xhr.status)
                  },
                  success: function(response) {
                    if(response == "success"){
                      localStorage.firstname = $(".edit_firstname").val().replace(/[^\w\s]/gi, '').capitalize();
                      localStorage.lastname = $(".edit_lastname").val().replace(/[^\w\s]/gi, '').capitalize();
                      localStorage.email = $(".edit_email").val();
                      localStorage.phone = $(".edit_phone").val();
                      window.location.reload(true);
                    }else{
                      alert(response);
                    }
                  }
      	      });
            }else{
              alert("invalid phone");
            }
          }else{
            alert("invalid email");
          }
        	return false;
        });
        $(document).on("click", "#assign_task", function(){
          task_modal = assignTaskModal('Assign a Task');
        });
        $(document).on("click", ".submit_task", function(){
          $.post("/f/assignTask", {
            user_id: window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1),
            task_name: $(".task_name").val(),
            task_description: $(".task_description").val(),
            due_date: new Date( $( ".task_year option:selected" ).text(), $( ".task_month option:selected" ).val()-1, $( ".task_day option:selected" ).text())
          }, function(responseText){
            if(responseText != "fail"){
              var li = document.createElement("li");
              $(li).addClass("data_point");
              $(li).html( $(".task_name").val() + " <span class='due_date_display'>(By " + readableDate(new Date( $( ".task_year option:selected" ).text(), $( ".task_month option:selected" ).val()-1, $( ".task_day option:selected" ).text())) + ")</span> <span style='vertical-align: -5%; font-size: 14px' title='Assigned By "+ localStorage.firstname + " " + localStorage.lastname +"' class='assigned_by glyphicon glyphicon-info-sign'></span>");
              var div = document.createElement("div");
              $(div).addClass("indented");
              $(div).html($(".task_description").val());
              $(li).append("<br/>");
              $(li).append( $(div) );
              var mark_as_completed = document.createElement("input");
              $(mark_as_completed).attr("type", "button");
              $(mark_as_completed).attr("data-taskid", responseText);
              $(mark_as_completed).attr("value", "Mark as Completed");
              $(mark_as_completed).addClass("task_complete");
              $(mark_as_completed).addClass("button");
              $(li).append( $(mark_as_completed) );
              $(".task_list.pending").append( $(li) );
              $('.assigned_by').jBox('Tooltip', {
                  delayOpen: 0,
                  delayClose: 0,
                  theme: "TooltipDark"
              });
              task_modal.close();
              task_modal.destroy();
            }else{
              alert(responseText);
            }
          })
        });
        $(document).on("click", ".task_complete", function(){
          if(window.confirm("Are you sure? This action is irreversible. You can, and will be held accountable if you mark this dishonestly.")){
            var $this = $(this);
            $.post("/f/markTaskAsCompleted", {
              task_id: $this.attr("data-taskid"),
              target_user: window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1)
            }, function(responseText){
              if(responseText == "success"){
                var completedTask = $this.parent().clone();
                $this.parent().remove();
                completedTask.find(".task_complete").remove();
                completedTask.appendTo($(".task_list.completed"));
              }else{
                alert(responseText);
              }
            });
          }
        })
        $(document).on("click", ".position_item", function(){
          if (window.confirm("Are you sure?")) {
            var $this = $(this);
            $.post("/f/changePosition", {user_id: $this.parent().parent().attr("data-userid"), target_position: $this.text().toLowerCase()}, function(responseText){
              if(responseText == "success"){
                $(".position_item").removeClass("selected");
                $this.addClass("selected");
                $this.parent().prev().html($this.text() + '<span class="caret"></span>');
              }else{
                alert(responseText);
              }
            });
          }
        });
        $(document).on("click", ".excuse_btn", function(){
          if(window.confirm("Are you sure?")){
            var $this = $(this);
            $.post("/f/excuseAbsence", {
              event_id: $this.attr("data-eventid"),
              user_id: window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1)
            }, function(responseText){
              if(responseText == "success"){
                $this.attr("value", "Excused!");
                $this.addClass("excused-btn");
              }
            });
          }
        });

        socket.on('message', function(msg){
          if(msg.type == "group"){
            messageNotification(msg.author_fn+" "+msg.author_ln+" in "+msg.chat_name, msg.content, msg.chat_id);
          }else{
            messageNotification(msg.author_fn+" "+msg.author_ln, msg.content, msg.chat_id);
          }
          $('#audio-files').find('audio#click-sound')[0].play();
          $('#audio-files').find('audio#click-sound')[0].currentTime = 0;
        });

        $(document).on("click", "#show_morscout_profile", function(){
          var user_id = window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1)
          location = "http://www.scout.morteam.com/profile.html?id=" + user_id
        });

      });
    </script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67504156-1', 'auto');
  ga('send', 'pageview');

  </script>

  </body>
</html>
